{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~/*": "./src"
        },
        "extensions": [".js", ".ts"]
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
