.component {
  color: white;
  display: flex;
  box-sizing: border-box;
}

.panel {
  flex: 1;
  background-color: lightslategray;
}
.tree {
  flex: 1;
  background-color: #96c1ed;
}
.display {
  flex: 1;
  color: black;
  border: 1px solid black;
}